* {
    box-sizing: border-box;
}

/* home style */
.tasks {
    display: flex;
    flex-wrap: wrap
}

.addTask {
    border: 1px solid #8484847a;
    border-radius: 5px;
    background: #aaaaaa82;
    width: 125px;
    height: 125px;
    text-align: center;
    margin: 5px;
}

.addTask:hover {
    background: #0101014d
}

.addTask a {
    text-decoration: none;
    color: #3c3c41
}

.addTask .add {
    /* font-size: 50px;
    padding: 22px */
    position: relative;
    top: 50px;
}

/* index style */
.content {
    display: flex;
    flex-direction: row;
}

.content .add-task {
    flex-grow: 4;
}

.content .show-task {
    flex-grow: 2;
}
/* show style */
.card-body .task{
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 15px;
    margin: 5px;
}
.card-body .task p{
    margin-left: 70px
}
.card-body .change{
    display: flex;
}
.card-body .change div{
    margin: 15px;
    width: 50%
}
.card-body .change div button{
    width: 100%;
}
/* ///asdasdasda */
.list {
    text-align: center;
    background: #f7f7f7;
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.list:hover {
    background: rgb(168, 168, 168);
}
