* {
    box-sizing: border-box;
}
/* navbar */
.navbar{
    padding: 0;
    font-family: 'Acme', sans-serif;
}
.navbar .navbar-brand,.fas.fa-power-off,.lni-user{
    font-size: 30px;
    color: #5b6f82;
    transition: 500ms ease-in-out
}
.navbar .navbar-brand:hover,.fas.fa-power-off:hover,.lni-user:hover,a.dropdown-item:hover{
    color: #5E52F6;
}
.navbar .navbar-brand .brand{
    transform: translate(-5px);
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}
.navbar .navbar-brand:hover .brand{
    animation: tog 500ms ease-in-out forwards;
}
@keyframes tog{
    0%{
        opacity: 0;
        transform: translate(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(-5px)
    }
}
.navbar li.nav-item{
    font-weight: 900;
    border-radius: 3px;
    margin:4px 5px;
    transition: all 500ms ease-out;
}

.navbar li.nav-item:hover{
    color: white;
    box-shadow: 0 8px 16px rgba(94,82,246,.25);
    background: linear-gradient(65deg,#5E52F6 0,#8B82F9 100%);
}

/* home style */
.tasks {
    display: flex;
    flex-wrap: wrap
}

.addTask {
    border: 1px solid #8484847a;
    border-radius: 5px;
    background: #aaaaaa82;
    width: 125px;
    height: 125px;
    text-align: center;
    margin: 5px;
}

.addTask:hover {
    background: #0101014d
}

.addTask a {
    text-decoration: none;
    color: #3c3c41
}

.addTask .add {
    /* font-size: 50px;
    padding: 22px */
    position: relative;
    top: 50px;
}

/* index style */
.content {
    display: flex;
    flex-direction: row;
}

.content .add-task {
    flex-grow: 4;
}

.content .show-task {
    flex-grow: 2;
}

/* show style */
.card-body .task {
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 15px;
    margin: 5px;
}

.card-body .task p {
    margin-left: 70px
}

.card-body .change {
    display: flex;
}

.card-body .change div {
    margin: 15px;
    width: 50%
}

.card-body .change div button {
    width: 100%;
}

/* ///asdasdasda */
.list {
    text-align: center;
    background: #f7f7f7;
    border: 1px solid rgba(128, 128, 128, 0.466);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.list:hover {
    background: rgb(168, 168, 168);
}
