* {
    box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-attachment: fixed;
}

/* navbar */
.navbar {
    padding: 0;
    font-family: 'Acme', sans-serif;
}

.navbar .navbar-brand,
.fas.fa-power-off,
.lni-user {
    font-size: 30px;
    color: #5b6f82;
    transition: 500ms ease-in-out
}

.navbar .navbar-brand:hover,
.fas.fa-power-off:hover,
.lni-user:hover,
a.dropdown-item:hover {
    color: #5E52F6;
}

.navbar .navbar-brand .brand {
    transform: translate(-5px);
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.navbar .navbar-brand:hover .brand {
    animation: tog 500ms ease-in-out forwards;
}

@keyframes tog {
    0% {
        opacity: 0;
        transform: translate(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(-5px)
    }
}

.navbar li.nav-item {
    font-weight: 900;
    border-radius: 3px;
    margin: 4px 5px;
    transition: all 500ms ease-out;
}

.navbar li.nav-item:hover {
    color: white;
    box-shadow: 0 8px 16px rgba(94, 82, 246, .25);
    background: linear-gradient(65deg, #5E52F6 0, #8B82F9 100%);
}

/* home style */
.tasks {
    flex-direction: column;
    justify-content: center;
}

.addTask {
    border-radius: 4px;
    box-shadow: 0 0 5px #a3a3a394;
    margin: 5px 10px;
    padding: 10px;
    transition: all 500ms ease-in-out;
    min-height: fit-content;
    width: auto;
}

.addTask i {
    cursor: pointer;
}

.addTask:hover {
    box-shadow: 0 0 8px #757474c2
}

.incompleted {
    background: linear-gradient(65deg, rgb(246, 82, 82) 0, rgb(249, 130, 130) 100%) !important;
}

.completed {
    background: linear-gradient(65deg, rgb(82, 246, 166) 0, rgb(153, 249, 130) 100%) !important;
}

.incompleted i:hover,
.completed i:hover {
    color: white;
}

.btn {
    background: linear-gradient(65deg, #5E52F6 0, #8B82F9 100%);
    border-color: #5E52F6;
    box-shadow: #5E52F6
}

.addTask:hover a {
    color: rgba(0, 0, 0, .5) !important;
}

.addTask a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5)
}

.addTask a p {
    margin: 0
}

.addTask .add {
    position: relative;
    top: 50px;
}

/* index style */
.content {
    display: flex;
    flex-direction: row;
}

.content .add-task {
    flex-grow: 4;
}

.content .show-task {
    flex-grow: 2;
}

.card {
    padding: 5px;
    box-shadow: 0 0 8px 0px #aeaeae7a;
    border: 0;
}

.card h4 span {
    font-size: 15px
}

/* show style */
.card-body .task {
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 15px;
    margin: 5px;
}

.card-body .task p {
    margin-left: 70px
}

.card-body .change {
    display: flex;
    justify-content: flex-end;
}

.card-body .change div {
    margin: 15px;
}

.card-body .change div button {
    width: 100%;
}

input,
textarea {
    border: 0 !important;
    box-shadow: 0 0 4px #848484 !important;
    background: #6357f73b !important;
}

/* /sadas */
.form-check2 {
    border-radius: 8px;
    box-shadow: 0px 2px 6px #93939363;
    background-color: #d7d7d78f;
}

.form-check2 input {
    display: none;
}

.form-check2 label {
    margin-bottom: 0;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.form-check2 label i {
    color: #6a6a6a;
    padding: 8px;
    transition: 500ms linear;
}

.form-check2 input:checked+label {
    background: linear-gradient(65deg, rgb(82, 246, 166) 0, rgb(153, 249, 130) 100%) !important;
    /* border-radius: 50px; */
}

.form-check2 input:checked+label i,
.form-check2 input:checked+label span {
    color: #fff;
}

@keyframes clip {
    0% {
        clip-path: circle(11.74% at 28% 50%);
    }

    100% {
        clip-path: circle(90.74% at 28% 50%);
        background: #31d84d;
    }
}
